<div ng-controller="IssueeditorController">
	
	<input ng-disabled="isDisabled" type="text" id="inputIssue" ng-model="issueeditorText" ng-trim="false"
		class="form-control" placeholder="Issue title"
		typeahead="issueResponse.issue.title for issueResponse in getIssueResponses($viewValue)" typeahead-editable="false" typeahead-on-select="onIssueSelect($item, $model, $label)"> 
	</input>
	<div class="tagwrapper" ng-repeat="issue in issues">
		{{issue.title}}
		<div ng-show="!isDisabled" class="glyphicon glyphicon-remove" ng-click="removeIssue(issue)"></div>
	</div>
</div>