<div class="newIssue-wrapper">
	<div class="modal-header">
		<div class="container-fluid">
			<div class="row my-row">
				<div class="col-md-8 my-col">
					<h3 ng-if="!isEdit">New Issue</h3>
					<h3 ng-if="isEdit">Edit - {{issueResponse.issue.title}}</h3>
				</div>
				<div class="col-md-4 my-col">
					<div class="btn-group pull-right" ng-if="isEdit">
						<button ng-show="issueResponse.showBtnCreateDesignDecision" ng-disabled="!issueResponse.owner" class="btn btn-primary" ng-click="createDesignDecision()">Create Design Decision</button>
						<button ng-show="issueResponse.showBtnRejectIssue" ng-disabled="!issueResponse.owner" class="btn btn-danger">Reject Issue</button>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputTitle" class="control-label">Title</label>
						<input ng-disabled="isEditDisabled" type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="title">
					</div>
					<div class="form-group">
						<label for="inputDescription" class="control-label">Description</label>
						<textarea ng-disabled="isEditDisabled" rows="10" cols="10" id="inputDescription" class="form-control" placeholder="Description" ng-model="description"></textarea>
					</div>
					<div class="form-group">
						<label for="inputDescription" class="control-label">Owner</label>
						<input ng-disabled="isEditDisabled" type="text" id="inputOwner" ng-model="selectedOwner" class="form-control" placeholder="Owner" 
								typeahead-loading="loadingUsers" typeahead="user as (user.forename + ' ' + user.surname) for user in getUser($viewValue)">
						</input>
						<i ng-show="loadingUsers" class="glyphicon glyphicon-refresh loading"></i>
						
					</div>
				</form>
			</div>
			<div class="col-md-7">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputTag" class="control-label">Tags</label>
						<tageditor ng-disabled="isEditDisabled" tags="currentTags"></tageditor>
					</div>
					<div class="form-group">
						<label for="inputDependsOn" class="control-label">Depends on</label>
						<issueeditor ng-disabled="isEditDisabled" issues="dependsIssues"></issueeditor>
					</div>
					<div class="form-group">
						<label for="inputResolvesBy" class="control-label">Resolved by</label>
						<issueeditor ng-disabled="isEditDisabled" issues="resolvesIssues"></issueeditor>
					</div>
					<div class="form-group">
						<label for="inputRelatedTo" class="control-label">Related to</label>
						<issueeditor ng-disabled="isEditDisabled" issues="relatesIssues"></issueeditor>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<hr/>
			<div class="col-md-12">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="issuesMatchingTags" class="control-label">Issues with matching tags</label>
						<table class="table matchingTags">
							<tr ng-repeat="issueMatchingTagsResponse in issuesMatchingTagsResponse">
								<td ng-if="issueMatchingTagsResponse.issue.idIssue != issueResponse.issue.idIssue" style="width: 70%; min-width: 200px;"><a href="#">{{issueMatchingTagsResponse.issue.title}}</a><br/><div class="tagwrapper" ng-repeat="issueTag in issueMatchingTagsResponse.issue.issueTags">{{issueTag.tag.name}}</div></td>
								<td ng-if="issueMatchingTagsResponse.issue.idIssue != issueResponse.issue.idIssue"><button ng-disabled="isEditDisabled" class="btn btn-warning" ng-click="addDepends(issueMatchingTagsResponse.issue)">Add depends</button></td>
								<td ng-if="issueMatchingTagsResponse.issue.idIssue != issueResponse.issue.idIssue"><button ng-disabled="isEditDisabled" class="btn btn-success" ng-click="addResolves(issueMatchingTagsResponse.issue)">Add resolves</button></td>
								<td ng-if="issueMatchingTagsResponse.issue.idIssue != issueResponse.issue.idIssue"><button ng-disabled="isEditDisabled" class="btn btn-primary" ng-click="addRelates(issueMatchingTagsResponse.issue)">Add relates</button></td>
							</tr>
							<!-- ng-if="issueMatchingTagsResponse != issueResponse.issue" -->
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container-fluid" ng-hide="!isEdit">
		<h4>Comments</h4>
		<div class=row">
			<button class="btn btn-primary" type="button" ng-click="toggleInputComment()" ng-hide="!hideInputComment">Add comment</button>
			<div class="form-group" ng-hide="hideInputComment">
				<input type="text" class="form-control" id="inputComment" ng-model="newComment" placeholder="Comment...">
				<button class="btn btn-success" type="button" ng-click="addIssueComment()">Save Comment</button>
				<button class="btn btn-danger" type="button" ng-click="toggleInputComment()">Cancel</button>
			</div>
		</div>
		<div class=row>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="comment in issueResponse.issue.comments">
					[{{comment.idComment}}]: {{comment.creator.forename}} {{comment.creator.surname}} said <br> {{comment.text}}
					<a href="#" ng-click="">Reply</a>
					<replycomment parentcomment="comment.idComment"> </replycomment>
				</li>
			</ul>
		</div>
	</div>
	<div class="modal-footer">
		<button ng-disabled="isEditDisabled" class="btn btn-success" ng-click="save()">Save</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>
