<div ng-controller="AppusereditorController">
	
	<input ng-disabled="isDisabled" type="text" id="inputAppUser" ng-model="appusereditorText" class="form-control" placeholder="User" 
			typeahead="user as (user.forename + ' ' + user.surname) for user in getUser($viewValue)" typeahead-on-select="onAppUserSelect($item, $model, $label)">
	</input>
	<div class="tagwrapper" ng-repeat="appUser in appusers">
		{{appUser.forename}} {{appUser.surname}}
		<div ng-show="!isDisabled" class="glyphicon glyphicon-remove" ng-click="removeAppUser(appUser)"></div>
	</div>
</div>