<div ng-controller="ShareholdereditorController">
	
	<input type="text" id="inputShareholder" ng-model="shareholdereditorText" class="form-control" placeholder="Shareholder" 
			typeahead="user as (user.forename + ' ' + user.surname) for user in getUser($viewValue)" typeahead-on-select="onShareholderSelect($item, $model, $label)">
	</input>
	<!-- <div class="selectedTags"> -->
		<div class="tagwrapper" ng-repeat="shareholder in shareholders">
			{{shareholder}}
			<div class="glyphicon glyphicon-remove" ng-click="removeShareholder(shareholder)"></div>
		</div>
	<!-- </div> -->
</div>