body {
	background: white;
	min-width: 670px;
}

.modal-dialog {
	width: auto;
	margin-left: 15px;
	margin-right: 15px;
}

.newIssue-wrapper .form-group {
	margin-left: 15px;
	margin-right: 15px;
}

.newIssue-wrapper .form-group {
	position: relative;
}

.newIssue-wrapper .loading {
	position: absolute;
	right: 5px;
	top: 35px;
}

.issues-wrapper .table {
	margin-top: 20px;
}

.login-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("../images/collaboration.jpg");
	background-size: cover;
	background-position: top center;
	display: table;
	top: 0;
	left: 0;
}

.login-wrapper .login-inner-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.login-wrapper .login-form-wrapper {
	background: #F5F5F5;
	border: 5px solid #D0D0D0;
	border-radius: 5px;
	padding: 20px;
	width: 320px;
	margin: auto;
}

.login-wrapper .login-form-wrapper .icon-wrapper {
	font-size: 4em;
	color: #E2E2E2;
	text-align: center;
	text-shadow: 2px 2px #fff;
}

.login-wrapper .logo-wrapper {
	text-align: center;
	padding: 20px 0;
}

.tagwrapper {
	padding: 2px 5px;
	display: inline-block;
	background: #ccc;
	margin: 2px;
	background-color: #e0eaf1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    color: #3e6d8e;
    font-size: 10px;
    height: 20px;
    line-height: 15px;
}

.tagwrapper > div {
	display: inline-block;
}

.tagwrapper > div.glyphicon-remove {
	cursor: pointer;
}