<div class="designDecisionDetail-wrapper">
	<div class="modal-header">
		<div class="container-fluid">
			<div class="row my-row">
				<div class="col-md-8 my-col">
					<h3>Design Decision - Detail View</h3>
				</div>
				<div class="col-md-4 my-col">
					<div class="pull-right">
						<button class="btn btn-primary" ng-show="designDecisionWrapper.showInappropriateSolution" ng-click="setInappropriateSolution()">Inappropriate Solution</button>
						<button class="btn btn-primary" ng-show="designDecisionWrapper.showStartRanking" ng-click="startRanking()">Start Ranking</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputDesignDecisionTitle" class="control-label">Title</label>
						<input ng-disabled="isEditDisabled" type="text" class="form-control" id="inputDesignDecisionTitle" placeholder="Title" ng-model="designDecisionWrapper.designDecision.title">
					</div>
					<div class="form-group">
						<label for="inputIssueTitle" class="control-label">Issue</label>
						<input ng-disabled="true" type="text" class="form-control" id="inputIssueTitle" placeholder="Issue" ng-model="designDecisionWrapper.designDecision.issue.title">
					</div>
					<div class="form-group">
						<label for="inputDesignDecisionStatus" class="control-label">Status</label>
						<input ng-disabled="true" type="text" class="form-control" id="inputDesignDecisionStatus" placeholder="Status" ng-model="designDecisionWrapper.designDecision.designDecisionStatus">
					</div>
					<div class="form-group">
						<label for="inputOwner" class="control-label">Owner</label>
						<!-- <input ng-disabled="true" type="text" class="form-control" id="inputOwner" placeholder="Owner" ng-model="owner"> -->
						<input ng-disabled="isEditDisabled" type="text" id="inputOwner" ng-model="designDecisionWrapper.designDecision.issue.owner" class="form-control" placeholder="Owner" 
								typeahead-loading="loadingUsers" typeahead="user as (user.forename + ' ' + user.surname) for user in getUser($viewValue)">
						</input>
						<i ng-show="loadingUsers" class="glyphicon glyphicon-refresh loading"></i>
					</div>
					<div class="form-group">
						<label for="inputShareholders" class="control-label">Shareholders</label>
						<appusereditor ng-disabled="isEditDisabled" appUsers="currentShareholders"></appusereditor>
					</div>
					<div class="form-group">
						Here will be the file upload.
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<div class="form-horizontal">
					<div class="form-group">
							<label for="inputAssumption" class="control-label">Assumption</label>
							<textarea ng-disabled="isEditDisabled" rows="5" cols="10" id="inputAssumption" class="form-control" placeholder="Assumption" ng-model="designDecisionWrapper.designDecision.assumption"></textarea>
					</div>
					<!-- <div class="form-group" ng-show="designDecisionWrapper.showDecided">
						<label for="inputRationale" class="control-label">Rationale</label>
						<textarea ng-disabled="true" rows="5" cols="10" id="inputRationale" class="form-control" placeholder="Rationale" ng-model="designDecisionWrapper.designDecision.rationale"></textarea>
					</div> -->
				</div>
			</div>
			
			<!-- showFinishRanking -->
			<!-- editable -->
			<!-- showSelectAlternative -->
			<!-- showDecided -->
			<!-- isOwner -->
			<!-- isShareholder -->
		</div>
		<!-- Alternatives -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="listAlternatives" class="control-label">Alternatives</label>
						<table class="table">
							<tr>
								<th>id</th>
								<th>Creator</th>
								<th>Description</th>
								<th ng-show="canRank">Rank</th>
							</tr>
							<tr ng-show="designDecisionWrapper.showDecided" class="success">
							<!-- designDecisionWrapper.designDecision.solution -->
								<td style="width: 100px;"><b><a href ng-click="showAlternative(designDecisionWrapper.designDecision.solution.idAlternative)">{{designDecisionWrapper.designDecision.solution.idAlternative}}</a></b></td>
								<td style="width: 200px;"><b>{{designDecisionWrapper.designDecision.solution.creator.forename}} {{designDecisionWrapper.designDecision.solution.creator.surname}}</b></td>
								<td style="width: auto;"><b>{{designDecisionWrapper.designDecision.solution.description}}</b></td>
								<td style="width: auto;">
									<div class="form-group">
										<label for="inputRationale" class="control-label">Rationale</label>
										<textarea ng-disabled="true" rows="3" cols="10" id="inputRationale" class="form-control" placeholder="Rationale" ng-model="designDecisionWrapper.designDecision.rationale"></textarea>
									</div>
								</td>
							</tr>
							<tr ng-repeat="alternative in designDecisionWrapper.designDecision.alternatives">
								<td style="width: 100px;"><a href ng-click="showAlternative(alternative.idAlternative)">{{alternative.idAlternative}}</a></td>
								<td style="width: 200px;">{{alternative.creator.forename}} {{alternative.creator.surname}}</td>
								<td style="width: auto;">{{alternative.description}}</td>
								<td style="width: 200px" ng-show="canRank">
									<div class="btn-group">
										<button class="btn btn-default" ng-repeat="alternativeRank in alternativeRanks" ng-click="rankChosen(alternative.idAlternative, $index)">{{$index + 1}}</button>
									</div>
								</td>
								<td style="width: 300px" ng-show="designDecisionWrapper.showSelectAlternative">
									<div>Rank: {{alternative.ranking}} ({{alternative.rankingpoints + 1}} Points)</div>
									<!-- <button class="btn btn-success" ng-click="selectAlternative(alternative, designDecisionWrapper.designDecision)">As Result</button> -->
									<button class="btn btn-success" ng-click="showInputRationale = ! showInputRationale">As Result</button>
									<div class="form-group" ng-show="showInputRationale">
										<label for="inpRationale" class="control-label">Rationale</label>
										<textarea rows="5" cols="8" id="inpRationale" class="form-control" placeholder="Rationale" ng-model="$parent.rationale"></textarea>
										<button class="btn btn-success" ng-click="selectAlternative(alternative, designDecisionWrapper.designDecision)">Choose Alternative</button>
										<button class="btn btn-danger" ng-click="showInputRationale = ! showInputRationale">Cancel</button>
									</div>
								</td>
							</tr>
						</table>
						<p style="width: 100%; font-weight: bold; text-align: right;" ng-show="designDecisionWrapper.showSelectAlternative">Less Ranking Points = Better Alternative (e.g. 2 are better than 3)</p>
						<button class="btn btn-primary" ng-click="addAlternative()" ng-show="showAddAlternative">Add Alternative</button>
						<button ng-if="designDecisionWrapper.showFinishRanking" class="btn btn-success" ng-click="finishRanking()">Finish Ranking</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Rating -->
		<div class="row" ng-show="designDecisionWrapper.showDecided">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="inputRating" class="control-label">Rating[1-10 points]</label>
					<input ng-disabled="designDecisionWrapper.rated" type="text" class="form-control" id="inputRating" placeholder="NaN" ng-model="rating">
					<button ng-hide="designDecisionWrapper.rated" class="btn btn-success" type="button" ng-click="rateDD()">Save Rating</button>
					<button ng-hide="designDecisionWrapper.rated" class="btn btn-danger" type="button" ng-click="calcAvgRating()">Cancel</button>
				</div>
			</form>
		</div>
		<div class="container-fluid">
		<h4>Comments</h4>
			<div class=row">
				<button class="btn btn-primary" type="button" ng-click="toggleInputComment()" ng-hide="!hideInputComment">Add comment</button>
				<div class="form-group" ng-hide="hideInputComment">
					<input type="number" min="0" step="1" max="10" class="form-control" id="inputComment" ng-model="newComment" placeholder="Comment...">
					<button class="btn btn-success" type="button" ng-click="addDesignDecisionComment()">Save Comment</button>
					<button class="btn btn-danger" type="button" ng-click="toggleInputComment()">Cancel</button>
				</div>
			</div>
			<div class=row>
				<comments commentlist="designDecisionWrapper.designDecision.comments"></comments>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" ng-click="save()" ng-show="designDecisionWrapper.owner">Save</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>