<div class="designDecisionDetail-wrapper">
	<div class="modal-header">
		<h3>Design Decision - Detail View</h3>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputDesignDecisionTitle" class="control-label">Title</label>
						<input type="text" class="form-control" id="inputDesignDecisionTitle" placeholder="Title" ng-model="designDecisionWrapper.designDecision.title">
					</div>
					<div class="form-group">
						<label for="inputIssueTitle" class="control-label">Issue</label>
						<input type="text" class="form-control" id="inputIssueTitle" placeholder="Issue" ng-model="designDecisionWrapper.designDecision.issue.title">
					</div>
					<div class="form-group">
						<label for="labelDesignDecisionStatus" class="control-label">Status</label>
						<label class="form-control" id="labelDesignDecisionStatus">{{designDecisionWrapper.designDecision.designDecisionStatus.status}}</label>
					</div>
					<div class="form-group">
						<label for="inputOwner" class="control-label">Owner</label>
						<input type="text" class="form-control" id="inputOwner" placeholder="Owner" ng-model="owner">
					</div>
					<div class="form-group">
						<label for="inputShareholders" class="control-label">Shareholders</label>
						<appusereditor appUsers="currentShareholders"></appusereditor>
					</div>
					<div class="form-group">
						<label for="inputAssumption" class="control-label">Assumption</label>
						<textarea rows="5" cols="10" id="inputAssumption" class="form-control" placeholder="Assumption" ng-model="designDecisionWrapper.designDecision.assumption"></textarea>
					</div>
					<div class="form-group">
						<label for="inputRationale" class="control-label">Rationale</label>
						<textarea rows="5" cols="10" id="inputRationale" class="form-control" placeholder="Rationale" ng-model="designDecisionWrapper.designDecision.rationale"></textarea>
					</div>
					<div class="form-group">
						<label for="listAlternatives" class="control-label">Alternatives</label>
						<table class="table">
							<tr>
								<th>id</th>
								<th>Creator</th>
							</tr>
							<tr ng-repeat="alternative in designDecisionWrapper.designDecision.alternatives">
								<td><a href ng-click="showAlternative(alternative.idAlternative)">{{alternative.idAlternative}}</a></td>
								<td>{{alternative.creator.forename}} {{alternative.creator.surname}}</td>
							</tr>
						</table>
						<button class="btn btn-primary" ng-click="addAlternative()">Add Alternative</button>
					</div>
					<div class="form-group">
						Here will be the file upload.
					</div>
				</form>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<button class=""btn btn-primary" ng-show="designDecisionWrapper.showInappropriateSolution" ng-click="setInappropriateSolution()">Inappropriate Solution</button>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-show="designDecisionWrapper.showStartRanking" ng-click="startRanking()">Start Ranking</button>
				</div>
				<!-- showFinishRanking -->
				<!-- editable -->
				<!-- showSelectAlternative -->
				<!-- showDecided -->
				<!-- isOwner -->
				<!-- isShareholder -->
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>