<div class="designDecisionDetail-wrapper">
	<div class="modal-header">
		<h3>Design Decision - Detail View</h3>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputDesignDecisionTitle" class="control-label">Title</label>
						<input type="text" class="form-control" id="inputDesignDecisionTitle" placeholder="Title" ng-model="designDecisionWrapper.designDecision.title">
					</div>
					<div class="form-group">
						<label for="inputIssueTitle" class="control-label">Issue</label>
						<input type="text" class="form-control" id="inputIssueTitle" placeholder="Issue" ng-model="designDecisionWrapper.designDecision.issue.title">
					</div>
					<div class="form-group">
						<label for="labelDesignDecisionStatus" class="control-label">Status</label>
						<label class="form-control" id="labelDesignDecisionStatus">{{designDecisionWrapper.designDecision.designDecisionStatus.status}}</label>
					</div>
					<div class="form-group">
						<label for="inputOwner" class="control-label">Owner</label>
						<input type="text" class="form-control" id="inputOwner" placeholder="Owner" ng-model="owner">
					</div>
					<div class="form-group">
						<label for="inputShareholders" class="control-label">Shareholders</label>
						<input type="text" class="form-control" id="inputShareholders" placeholder="Shareholders" ng-model="shareholders">
					</div>
					<div class="form-group">
						<label for="inputRationale" class="control-label">Rationale</label>
						<textarea rows="5" cols="10" id="inputRationale" class="form-control" placeholder="Rationale" ng-model="designDecisionWrapper.designDecision.rationale"></textarea>
					</div>
					<div class="form-group">
						<label for="inputAssumption" class="control-label">Assumption</label>
						<textarea rows="5" cols="10" id="inputAssumption" class="form-control" placeholder="Assumption" ng-model="designDecisionWrapper.designDecision.assumption"></textarea>
					</div>
					<div class="form-group">
						Here will be the file upload.
					</div>
					<div class="form-group">
						Here will be the alternatives.
					</div>
				</form>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<button class=""btn btn-primary" ng-show="designDecisionWrapper.showInappropriateSolution">Inappropriate Solution</button>
				</div>
				<div class="form-group">
					<button class=""btn btn-primary" ng-show="designDecisionWrapper.showStartRanking">Start Ranking</button>
				</div>
				<div class="form-group">
					<button class=""btn btn-primary" ng-show="designDecisionWrapper.showFinishRanking">Finish Ranking</button>
				</div>
				<!-- showSelectAlternative -->
				<!-- showDecided -->
				<!-- isOwner -->
				<!-- isShareholder -->
			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
</div>