<div ng-controller="TageditorController">
	
	<input type="text" id="inputTag" ng-model="tageditorText" ng-trim="false"
		class="form-control" placeholder="Tags"
		typeahead-loading="loadingTags"
		typeahead="tag.name for tag in getTag($viewValue)"> 
	</input>
	<i ng-show="loadingTags" class="glyphicon glyphicon-refresh loading"></i>
	<div class="selectedTags">
		<div class="selectedTag" ng-repeat="selectedTag in selectedTags">
			<div>{{selectedTag}}</div>
			<div class="glyphicon glyphicon-remove" ng-click="removeTag(selectedTag)"></div>
		</div>
	</div>
</div>