<div class="designDecisionDetail-wrapper">
	<div class="modal-header">
		<h3>Alternative - Detail View</h3>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputAlternativeId" class="control-label">Id</label>
						<input ng-disabled="true" type="text" class="form-control" id="inputDesignDecisionTitle" placeholder="Title" ng-model="alternativeWrapper.alternative.idAlternative">
					</div>
					<div class="form-group">
						<label for="inputAlternativeCreator" class="control-label">Creator</label>
						<input ng-disabled="true" type="text" class="form-control" id="inputAlternativeCreator" placeholder="Title" ng-model="creator">
						<!-- <label class="form-control" id="labelAlternativeCreator">{{alternativeWrapper.alternative.creator.forename}} {{alternativeWrapper.alternative.creator.surname}}</label> -->
					</div>
					<div class="form-group">
						<label for="inputAlternativeDescription" class="control-label">Description</label>
						<textarea ng-disabled="isEditDisabled" class="form-control" id="inputAlternativeDescription" placeholder="Description" ng-model="alternativeWrapper.alternative.description"></textarea>
						<!-- <label class="form-control" id="labelAlternativeDescription">{{alternativeWrapper.alternative.description}}</label> -->
					</div>
					
					<div class="form-group">
						<label for="rankings" class="control-label">Rankings</label>
						<div id="rankings">
							<div ng-repeat="ranking in alternativeWrapper.alternative.alternativeRankings">{{ranking.share.appUser.forename}} {{ranking.share.appUser.surname}} ranked this Alternative with {{ranking.rank + 1}}</div>
						</div>
						<!-- <label class="form-control" id="labelAlternativeDescription">{{alternativeWrapper.alternative.description}}</label> -->
					</div>
					
					<div class="form-group">
						Here will be the file upload.
					</div>
				</form>
			</div>
		</div>
		<div class="container-fluid">
		<h4>Comments</h4>
			<div class=row">
				<button class="btn btn-primary" type="button" ng-click="toggleInputComment()" ng-hide="!hideInputComment">Add comment</button>
				<div class="form-group" ng-hide="hideInputComment">
					<input type="text" class="form-control" id="inputComment" ng-model="newComment" placeholder="Comment...">
					<button class="btn btn-success" type="button" ng-click="addAlternativeComment()">Save Comment</button>
					<button class="btn btn-danger" type="button" ng-click="toggleInputComment()">Cancel</button>
				</div>
			</div>
			<div class=row>
				<comments commentlist="alternativeWrapper.alternative.comments"></comments>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>