<div class="container-fluid" style="margin-top: 10px;">
	<div class="row">
		<div class="col-md-6">
			<div class="tile"><h4>Owning Issues <button class="btn btn-default" ng-click="getOwningIssues()"><span class="glyphicon glyphicon-refresh"></span></button></h4>
				<div ng-repeat="issueResponse in issues">
					{{issueResponse.issue.title}} <a href="#" ng-click="showIssue(issueResponse.issue.idIssue)">details</a><br>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="tile"><h4>Rank your DDs</h4></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="tile"><h4>Rate DD</h4></div>
		</div>
		<div class="col-md-6">
			<div class="tile"><h4>Notifications</h4></div>
		</div>
	</div>
</div>