<div class="container-fluid" style="margin-top: 10px;">
	<div class="row">
		<div class="col-md-6">
			<div class="tile">
				<div class="tile-header blue">
					<h4>Your Issues</h4>
					<button class="pull-right btn btn-default" ng-click="getOwningIssues()"><span class="glyphicon glyphicon-refresh"></span></button>
				</div>
				<div class="list-group">
					<a class="list-group-item" ng-click="showIssue(issueResponse.issue.idIssue)" ng-repeat="issueResponse in issues">
						{{issueResponse.issue.title}}
						<span class="badge">{{issueResponse.issue.issueStatus}}</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="tile">
				<div class="tile-header blue">
					<h4>Assigned Design Decisions</h4>
					<button class="pull-right btn btn-default" ng-click="getDDs()"><span class="glyphicon glyphicon-refresh"></span></button>
				</div>
				<!-- rankableDDs -->
				<div class="list-group">
					<a class="list-group-item" ng-click="showDesignDecision(ddResponse.designDecision.idDesignDecision)" ng-repeat="ddResponse in allDDs">
						{{ddResponse.designDecision.title}}
						<span class="badge">{{ddResponse.designDecision.designDecisionStatus}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="tile">
				<div class="tile-header green">
					<h4>Design Decisions to rank</h4>
					<button class="pull-right btn btn-default" ng-click="getRankableDDs()"><span class="glyphicon glyphicon-refresh"></span></button>
				</div>
				<!-- rankableDDs -->
				<div class="list-group">
					<a class="list-group-item" ng-click="showDesignDecision(ddResponse.designDecision.idDesignDecision)" ng-repeat="ddResponse in rankableDDs">
						{{ddResponse.designDecision.title}}
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="tile">
				<div class="tile-header green">
					<h4>Design Decisions to rate</h4>
					<button class="pull-right btn btn-default" ng-click="getRateableDDs()"><span class="glyphicon glyphicon-refresh"></span></button>
				</div>
				<!-- rateableDDs -->
				<div class="list-group">
					<a class="list-group-item" ng-click="showDesignDecision(ddResponse.designDecision.idDesignDecision)" ng-repeat="ddResponse in rateableDDs">
						{{ddResponse.designDecision.title}}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>